<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <h2><center>Seja bem vindo ao painel administrativo PetLegal</center></h2>
  </div>
</div>

<div class="page-header">
  <h3>Últimos <i>pets</i> cadastrados</h3>
</div>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Dono</th>
      <th>Nome do cão</th>
      <th>Gênero</th>
      <th>Raça</th>
      <th>Telefone de contato 1</th>
    </tr>
  </thead>
  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.id %></td>
        <td><%= best_in_place dog, :owner_name, as: :input , class: 'best-in-place'.html_safe %></td>
        <td><%= best_in_place dog, :dog_name, as: :input , class: 'best-in-place'.html_safe %></td>
        <td><%= dog.gender %></td>
        <td><%= dog.breed.name %></td>
        <td><%= dog.onwer_phone_1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>